# Default ignored files
/../../../../PycharmProjects./Professional-Portfolio/5. Typing Speed Test/.idea/shelf/
/../../../../PycharmProjects./Professional-Portfolio/5. Typing Speed Test/.idea/workspace.xml
